<!DOCTYPE html>
<html lang="en">

<head>
	<!-- CSS -->
    <% include templates/head.ejs %>
	<link href="/css/dashboard.css" rel="stylesheet">
</head>

<body>

	<header>
		<% include templates/navbar.ejs %>
	</header>

	<main>
		<div class="container">
			<div>Dashboard</div>
		</div>
	</main>

	<% include templates/footer.ejs %>

	<!-- JavaScript -->
	<% include templates/defaultScripts.ejs %>
	<script src="/js/dashboard.js"></script>

</body>

</html>