<!DOCTYPE html>
<html lang="en">

<head>
	<!-- CSS -->
    <% include templates/head.ejs %>
	<link href="/css/home.css" rel="stylesheet">
</head>

<body>

	<header>
		<% include templates/navbar.ejs %>
	</header>

	<main>
		<div class="container">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, delectus sit, quas quis molestiae deleniti commodi.
				Magnam, unde, soluta! Nulla repellendus dicta, aperiam, explicabo doloremque modi autem reprehenderit quod maiores.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, delectus sit, quas quis molestiae deleniti commodi.
				Magnam, unde, soluta! Nulla repellendus dicta, aperiam, explicabo doloremque modi autem reprehenderit quod maiores.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, delectus sit, quas quis molestiae deleniti commodi.
				Magnam, unde, soluta! Nulla repellendus dicta, aperiam, explicabo doloremque modi autem reprehenderit quod maiores.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, delectus sit, quas quis molestiae deleniti commodi.
				Magnam, unde, soluta! Nulla repellendus dicta, aperiam, explicabo doloremque modi autem reprehenderit quod maiores.</p>

			<div class="panel panel-default">
				<div class="panel-heading text-uppercase">
					<h4>Article heading</h4>
				</div>
				<div class="panel-body text-capitalize">
					this is article body
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">Like</div>
						<div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 text-right">Article by xyz on this date</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<% include templates/footer.ejs %>

	<!-- JavaScript -->
	<% include templates/defaultScripts.ejs %>
	<script src="/js/home.js"></script>

</body>

</html>