<!DOCTYPE html>
<html lang="en">

<head>
	<% include templates/head.ejs %>
		<!-- CSS -->
		<link href="/css/home.css" rel="stylesheet">
</head>

<body>

	<header>
		<% include templates/navbar.ejs %>
	</header>

	<main>
		<div class="container animate-bottom">
		</div>
	</main>

	<% include templates/footer.ejs %>

		<!-- JavaScript -->
		<% include templates/defaultScripts.ejs %>
			<script src="/js/home.js"></script>

</body>

</html>