body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    width: 100%;
    padding: 0.5rem;
    background-color: #efefef;
}

pre {
    font-family: sans-serif;
    display: inherit;
    padding: initial;
    margin: inherit;
    font-size: initial;
    line-height: initial;
    color: inherit;
    word-break: initial;
    word-wrap: initial;
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
    white-space: pre-wrap;
}