<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
<link rel="apple-touch-icon-precomposed" href="favicon.png">
<!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
<link rel="icon" href="/favicon.png">
<title>VzBlog -
    <%= pageTitle %>
</title>
<meta name="description" content="IMAD NPTEL online course 2016 web app" />
<meta name="keywords" content="Vatsal, imad, nptel, VaTz88" />
<meta name="author" content="Vatsal Joshi" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link href="/css/common.css" rel="stylesheet">